// -----------------------------------------------------------------------------
// BASE
// -----------------------------------------------------------------------------
body{
    width: 100%;
    height: auto;
    font-family: $primary-font-family, $secondary-font-family;
    font-size: $initial-font-size;
    font-weight: 500;
    color: $text-color;
}

// -----------------------------------------------------------------------------
// BASE (RTL)
// -----------------------------------------------------------------------------
.rtl{
    body{
        direction: rtl;
    }
}

// -----------------------------------------------------------------------------
// BASE (RESPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 1200px){
    body{
        font-size: $mobile-font-size;
    }
}