// -----------------------------------------------------------------------------
// CLIENTS PAGE
// -----------------------------------------------------------------------------
.clients-page{
    .client-logos{
        img{
            width: auto;
            height: 60px;
        }
    }
}

// -----------------------------------------------------------------------------
// CLIENTS PAGE (RTL)
// -----------------------------------------------------------------------------
    
// -----------------------------------------------------------------------------
// CLIENTS PAGE (RESPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 1000px){
    .clients-page .client-logos img{
        width: auto;
        height: 50px;
    }
}

@media only screen and (max-width: 500px){
    .clients-page .client-logos img{
        width: auto;
        height: 40px;
    }
}