// -----------------------------------------------------------------------------
// CONTACT PAGE
// -----------------------------------------------------------------------------
.contact-page{

    // -----------------------------------------------------------------------------
    // CONTACT INFO
    // -----------------------------------------------------------------------------
    .contact-info{
        width: 48%;

        .title.primary{
            &::before{
                width: 120px;
            }
        }

        .contact-info-details{
            width: 100%;

            a{
                width: 48%;
                height: 150px;
                text-decoration: none;
                padding: 20px;
                text-align: center;
                background: #ffffff;
                @include box-shadow(0px, 0px, 50px, 0px, rgba(94,94,94,0.1));
                position: relative;
                @include transition;
    
                svg{
                    width: 28px;
                    height: 28px;
                    @include transition;

                    path{
                        fill: $primary-color;
                        @include transition;
                    }
                }
    
                span{
                    font-size: 1.4em;
                    color: $text-color;
                    line-height: 23px;
                }
    
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: transparent;
                    border: 1px solid $primary-color;
                    top: 0px;
                    left: 0px;
                    opacity: 0;
                    @include transition;
                }
    
                &:hover{
                    &::before{
                        opacity: 1;
                    }

                    svg{
                        path{
                            fill: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    // -----------------------------------------------------------------------------
    // SEND US A MESSAGE
    // -----------------------------------------------------------------------------
    .send-us-a-message{
        width: 48%;

        .title.primary{
            &::before{
                width: 120px;
            }
        }

        form{
            width: 100%;

            .form-row{
                width: 48%;

                .select2-container{
                    width: 100% !important;
                    height: 47px !important;
                }

                .select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple{
                    height: 47px;
                    padding: 15px 15px;
                    @include border-radius(3px);
                }

                &.message, &.submit-btn,
                &.submit-btn button[type="submit"]{
                    width: 100%;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------
// CONTACT PAGE (RTL)
// -----------------------------------------------------------------------------
.rtl{
    .contact-page{

        // -----------------------------------------------------------------------------
        // CONTACT INFO
        // -----------------------------------------------------------------------------
        .contact-info{
            .title.primary{
                &::before{
                    width: 95px;
                }
            }
    
            .contact-info-details{
                a{
                    span{
                        font-size: 1.3em;
                    }
                }
            }
        }
    
        // -----------------------------------------------------------------------------
        // SEND US A MESSAGE
        // -----------------------------------------------------------------------------
        .send-us-a-message{
            .title.primary{
                &::before{
                    width: 95px;
                }
            }

            .form-row{
                .select2-container--default .select2-selection--single .select2-selection__rendered{
                    position: relative;
                    top: -4px;
                    font-size: 0.95em;
                }
            }
        }
    }
}
    
// -----------------------------------------------------------------------------
// CONTACT PAGE (RESPONSIVE)
// -----------------------------------------------------------------------------

    // -----------------------------------------------------------------------------
    // CONTACT INFO
    // -----------------------------------------------------------------------------
    @media only screen and (max-width: 1200px){
        .contact-page .contact-info{
            width: 100%;
        }
    }

    @media only screen and (max-width: 650px){
        .contact-page .contact-info .contact-info-details a{
            width: 100%;
        }
    }

    // -----------------------------------------------------------------------------
    // SEND US A MESSAGE
    // -----------------------------------------------------------------------------
    @media only screen and (max-width: 1200px){
        .contact-page .send-us-a-message{
            width: 100%;
            padding-top: 0px;
        }

        .contact-page .send-us-a-message .form-row .select2-container--default .select2-selection--single .select2-selection__rendered{
            position: relative;
            top: 2px;
        }
    }

    @media only screen and (max-width: 650px){
        .contact-page .send-us-a-message form .form-row{
            width: 100%;
        }
    }