// -----------------------------------------------------------------------------
// ERRORS
// -----------------------------------------------------------------------------
noscript{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background: #ffffff;
}

.error-msg{
    .title{
        font-size: 2.5em;

        span{
            &:last-child{
                color: $secondary-color;
            }
        }        
    }

    &.full-height-screen{
        height: 100%;
    }
}

// -----------------------------------------------------------------------------
// ERRORS (RTL)
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// ERRORS (RESPONSIVE)
// -----------------------------------------------------------------------------