// -----------------------------------------------------------------------------
// PARTNERS PAGE
// -----------------------------------------------------------------------------
.partners-page{
    .partner-logos{
        img{
            width: auto;
            height: 60px;
        }
    }
}

// -----------------------------------------------------------------------------
// PARTNERS PAGE (RTL)
// -----------------------------------------------------------------------------
    
// -----------------------------------------------------------------------------
// PARTNERS PAGE (RESPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 1000px){
    .partners-page .partner-logos img{
        width: auto;
        height: 50px;
    }
}

@media only screen and (max-width: 500px){
    .partners-page .partner-logos img{
        width: auto;
        height: 40px;
    }
}