// -----------------------------------------------------------------------------
// INITIAL FONT SIZE
// -----------------------------------------------------------------------------
$initial-font-size: 10px;
$mobile-font-size: 9px;

// -----------------------------------------------------------------------------
// ELEMENTS DEFAULT MAX WIDTH
// -----------------------------------------------------------------------------
$default-width-center-percent: 90%;
$default-max-width: 1366px;

// -----------------------------------------------------------------------------
// FONT FAMILIES
// -----------------------------------------------------------------------------
$primary-font-family: "HelveticaNeueLTStd";
$secondary-font-family: "DroidKufi";

// -----------------------------------------------------------------------------
// MAIN COLORS
// -----------------------------------------------------------------------------
$primary-color: #1a9f82;
$secondary-color: #84027e;
$tertiary-color: #99999a;
$accent-color: #cac8c8;
$separator-color: #f6f6f6;

// -----------------------------------------------------------------------------
// TEXT COLOR
// -----------------------------------------------------------------------------
$text-color: #555555;